<html>
  <head>
    <title>Doko Online Store</title>  
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
<nav class="product-filter">
  <h1></h1>

  <div class="sort">
    <div class="collection-sort">
      <label>Filter by:</label>
      <select>
        <option value="/">All Jackets</option>
        <option value="/">2016</option>
        <option value="/">jacket</option>
        <option value="/">Jackets</option>
        <option value="/">layers</option>
        <option value="/">Obermeyer</option>
        <option value="/">Roxy</option>
        <option value="/">womens</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
        <option value="/">Best Selling</option>
        <option value="/">Alphabetically, A-Z</option>
        <option value="/">Alphabetically, Z-A</option>
        <option value="/">Price, low to high</option>
        <option value="/">Price, high to low</option>
        <option value="/">Date, new to old</option>
        <option value="/">Date, old to new</option>
      </select>
    </div>
  </div>
</nav>

<section class="products">
  {{#each productData}}
  <div class="product-card">
    <a href="/details.html">
    <div class="product-image">
      <img src={{image}}>
    </div>
    <div class="product-info">
      <h5>{{title}}</h5>
      <h6>${{price}}</h6>
    </div>
  </a>
  </div>
  {{/each}}
</section>
</body>
</html>